<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="../fragments/head">This content will be gone</div>

<body class="container parent">

  <!-- navbar -->
  <div th:replace="../fragments/navbar">This content will be gone</div>
  
  <main class="main">
  
    <h1 class="mb-4 display-6 text-success p-2"><b>Assignment to Create</b></h1>

    <!--========== body ===========-->
    <!-- Page Content -->
    <div class="container">

      <form action="#" 
            th:action="@{/courses/assignment/add/{id}(id=${course.id})}" 
            th:object="${assignment}" 
            class="mx-auto w-50 p-5 shadow bg-light rounded form-horizontal" 
            method="POST">

        <fieldset>
        
          <!-- Form Name -->
          <legend>Assignment Creation Form</legend>
          
          
          <div class="form-group mb-4">
            <label class="col-md-4 control-label " for="title">Assignment Name</label>  
            <input id="title" name="title" type="text" placeholder="e.g. Assignment 01" class="form-control input-md" th:field="*{title}" required autofocus>
          </div>
          
          
          <div class="form-group mb-4">
            <label class="col-md-4 control-label" for="description">Description</label>  
            <input id="description" name="description" type="text" placeholder="e.g. Assignment on vector" class="form-control input-md" th:field="*{description}" required>
          </div>

          <div class="form-group mb-4" hidden>
            <label class="col-md-4 control-label" for="name">Course Name</label>  
            <input id="name" name="name" type="text" placeholder="e.g. Gravity, Elasticity" class="form-control input-md" th:field="${course.name}" readonly>
          </div>

          
          <div class="form-group mb-4" hidden>
            <label class="col-md-4 control-label" for="subject">Subject</label>  
            <input id="subject" name="subject" type="text" placeholder="e.g. Physics" class="form-control input-md" th:field="${course.subject}" readonly>
          </div>

          <div class="form-group mb-4" hidden>
            <label class="col-md-4 control-label" for="email">Email</label>  
            <input id="email" name="email" type="email" placeholder="e.g. xyz@gmail.com" class="form-control input-md" th:field="${course.email}" readonly>
          </div>
          
          
          <div class="form-group mb-4">
            <label class="col-md-4 control-label" for="link">Link</label>  
            <input id="link" name="link" type="url" placeholder="Link of embedded file in Google Drive" class="form-control input-md" th:field="*{link}" required>
          </div>

        </fieldset>

        <div class="form-group mb-4">
          <button type="submit" class="btn btn-sm btn-danger btn-block form-control">Create</button>
        </div>

        <!--div>
          <p>Back To <a href="#" th:href="@{/}">Main</a></p>
        </div-->
        
      </form>
        

    </div>
  <!-- /.container -->

</main>

<!--========== Footer ===========-->
<div th:replace="../fragments/footer">This content will be gone</div>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
