<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="../fragments/head">This content will be gone</div>

<body class="container parent">

  <!-- navbar -->
  <div th:replace="../fragments/navbar">This content will be gone</div>
  
  <main class="main">
  <b><h1 class="mb-4 display-6 text-success" th:text="'Please Evaluate ' + ${submission.title} + ' of ' + ${submission.name} +', ' +${submission.subject}">Evaluate Assignment</h1></b>


  <iframe class="mb-4"src="" th:src="${submission.link}" width="830" height="1150" allow="autoplay"></iframe>
    
  <div class="container">
    
     <form action="#" 
            th:action="@{/assignment/submission/view/{id}(id=${submission.id})}" 
            th:object="${submission}" 
            class=" w-50 p-5 shadow bg-light rounded form-horizontal" 
            method="POST">

        <fieldset>
        
          
          <legend>Evaluation Form</legend>
          
          
           <div class="form-group mb-4">
              <label class="col-md-4 control-label " for="firstName">Learner Name</label>  
              <input id="firstName" name="firstName" type="text" placeholder="e.g. Nabil" class="form-control input-md" th:field="*{firstName}" readonly>
            </div>

            <div class="form-group mb-4" >
              <label class="col-md-4 control-label" for="email">Learner Email</label>  
              <input id="email" name="email" type="email" placeholder="e.g. abc@yahoo.com" class="form-control input-md" th:field="*{email}" readonly>
            </div>
            
            <div class="form-group mb-4">
              <label class="col-md-4 control-label " for="title">Assignment Name</label>  
              <input id="title" name="title" type="text" placeholder="e.g. Assignment 01" class="form-control input-md" th:field="*{title}" readonly>
            </div>
            
            
            <div class="form-group mb-4" hidden>
              <label class="col-md-4 control-label" for="description">Description</label>  
              <input id="description" name="description" type="text" placeholder="e.g. Assignment on vector" class="form-control input-md" th:field="*{description}" readonly>
            </div>
  
            <div class="form-group mb-4" >
              <label class="col-md-4 control-label" for="name">Course Name</label>  
              <input id="name" name="name" type="text" placeholder="e.g. Gravity, Elasticity" class="form-control input-md" th:field="*{name}" readonly>
            </div>
  
            
            <div class="form-group mb-4" >
              <label class="col-md-4 control-label" for="subject">Subject</label>  
              <input id="subject" name="subject" type="text" placeholder="e.g. Physics" class="form-control input-md" th:field="*{subject}" readonly>
            </div>

            <div class="form-group mb-4" hidden>
              <label class="col-md-4 control-label" for="link">Link</label>  
              <input id="link" name="link" type="url" placeholder="e.g. xyz.bhg/preview" class="form-control input-md" th:field="*{link}" readonly>
            </div>
            
            
            <div class="form-group mb-4">
              <label class="col-md-4 control-label" for="mark">Mark</label>  
              <input id="mark" name="mark" type="text" class="form-control input-md" th:field="*{mark}" required autofocus>
            </div>

  

        </fieldset>

        <div class="form-group mb-4">
          <button type="submit" class="btn btn-sm btn-danger btn-block form-control">Publish Mark</button>
        </div>

        <!--div>
          <p>Back To <a href="#" th:href="@{/}">Main</a></p>
        </div-->
        
      </form>


  </div>
    
  </main>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
